<!-- Blog area start -->
<section class="blog__area no-pb blog__animation">
    <div class="container g-0 line pt-150 pb-140">
        <span class="line-3"></span>
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                    <h2 class="sec-sub-title">последнее из блога</h2>
                    <h3 class="sec-title">Полезное для мастеров</h3>
                </div>
            </div>
            {% for blog in blog_list %}
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <article class="blog__item">
                        <div class="blog__img-wrapper">
                            <a href="{% url 'blog:blog_detail' slug=blog.slug category_slug=blog.category.slug %}">
                                <div class="img-box">
                                    <img class="image-box__item" src="{{ blog.preview_image.url }}"
                                         alt="">
                                    <img class="image-box__item" src="{{ blog.preview_image.url }}"
                                         alt="">
                                </div>
                            </a>
                        </div>
                        <h4 class="blog__meta"><a
                                href="{% url 'blog:category_list' slug=blog.category.slug %}">{{ blog.category }}</a>
                            . {{ blog.date_born }}</h4>
                        <h5><a href="{% url 'blog:blog_detail' slug=blog.slug category_slug=blog.category.slug %}"
                               class="blog__title">{{ blog.title }}</a></h5>
                        <a href="{% url 'blog:blog_detail' slug=blog.slug category_slug=blog.category.slug %}"
                           class="blog__btn">Читать <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Blog area end -->