{% load static %}
<!-- Brand area start -->
<section class="brand__area">
    <div class="container g-0 line pt-140 pb-130">
        <span class="line-3"></span>
        <div class="row">
            <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                    <h2 class="sec-sub-title title-anim">Бренды</h2>
                    <h3 class="sec-title title-anim">Наши<br>
                        клиенты</h3>
                </div>
            </div>

            <div class="col-xxl-12">
                <div class="brand__list">
                    <div class="brand__item fade_bottom">
                        <img src="{% static 'assets/imgs/brand/klient-1.jpg' %}" alt="Brand Logo">
                    </div>
                    <div class="brand__item fade_bottom">
                        <img src="{% static 'assets/imgs/brand/klient-2.jpg' %}" alt="Brand Logo">
                    </div>
                    <div class="brand__item fade_bottom">
                        <img src="{% static 'assets/imgs/brand/klient-3.jpg' %}" alt="Brand Logo">
                    </div>
                    <div class="brand__item fade_bottom">
                        <img src="{% static 'assets/imgs/brand/klient-4.jpg' %}" alt="Brand Logo">
                    </div>
                    <div class="brand__item fade_bottom">
                        <img src="{% static 'assets/imgs/brand/klient-5.jpg' %}" alt="Brand Logo">
                    </div>
                    <div class="brand__item fade_bottom">
                        <img src="{% static 'assets/imgs/brand/klient-6.jpg' %}" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Brand area end -->