<!-- Counter area start -->
<section class="counter__area">
    <div class="container g-0 line pt-150">
        <span class="line-3"></span>

        <div class="row">
            <div class="col-xxl-12">
                <div class="counter__wrapper counter_animation">
                    <div class="counter__item counter__anim">
                        <h2 class="counter__number">100</h2>
                        <p>Раз<br>Подумать</p>
                        <span class="counter__border"></span>
                    </div>
                    <div class="counter__item counter__anim">
                        <h2 class="counter__number">10</h2>
                        <p>Раз<br>Сэкономить</p>
                        <span class="counter__border"></span>
                    </div>
                    <div class="counter__item counter__anim">
                        <h2 class="counter__number">10</h2>
                        <p>Раз<br>Разочароваться</p>
                        <span class="counter__border"></span>
                    </div>
                    <div class="counter__item counter__anim">
                        <h2 class="counter__number">1</h2>
                        <p>Раз<br>В итоге обратиться к нам</p>
                        <span class="counter__border"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter area end -->