{% load static %}
<!-- Footer area start -->
<footer class="footer__area-3">
    <div class="footer__top-3">
        <div class="footer__top-wrapper-3">
            <div class="footer__logo-3 pt-120">
                <img class="footer__logo" width="170"
                     src="{% static 'assets/imgs/logo/neveb-gorizont.svg' %}"
                     alt="Footer Logo">
                <p>Создавайте собственные мечты сегодня, или кто-то другой наймет нас завтра, чтобы
                    построить свои.</p>
            </div>
            <div class="footer__social-3">
                <ul>
                    <li><a href="/blog/">Блог</a></li>
                    <li><a href="{{ vk }}">Вконтакте</a></li>
                    <li><a href="{{ instagram }}">Instagram</a></li>
                </ul>
            </div>
            <div class="footer__contact-3">
                <a class="end" href="/contact/">Хочу</a>
            </div>
        </div>
    </div>

    <div class="footer__btm-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="footer__copyright-3">
                        <p>© 2022 - 2025 | Все права защищены <a href="https://kmv-it.ru/" target="_blank">НеВеБ студия</a>
                        </p>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="footer__nav-2">
                        <ul class="footer-menu-2 menu-anim">
                            <li><a href="/mobile/">Приложения</a></li>
                            <li><a href="/chatbot/">Чат-бот для бизнеса</a></li>
                            <li><a href="/razrabotka-saita/">Создание сайтов</a></li>
                            <li><a href="/kontekstnaja-reklama/">Реклама в интернете</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer area end -->