{% load static %}
<footer class="footer__area">
    <div class="footer__top">
        <div class="container footer-line"></div>
        <img src="{% static 'assets/imgs/thumb/footer.jpg' %}" alt="Footer Image" data-speed="0.75">
    </div>

    <div class="footer__btm">
        <div class="container">
            <div class="row footer__row">
                <div class="col-xxl-12">
                    <div class="footer__inner">
                        <div class="footer__widget">
                            <img class="footer__logo" width="170"
                                 src="{% static 'assets/imgs/logo/neveb-gorizont.svg' %}"
                                 alt="Footer Logo">
                            <p>Создавайте собственные мечты сегодня, или кто-то другой наймет нас завтра, чтобы построить свои.</p>
                            <ul class="footer__social">
                                <li><a href="{{ instagram }}"><span><i class="fa-brands fa-vk"></i></span></a>
                                </li>
                                <li><a href="{{ vk }}"><span><i class="fa-brands fa-instagram"></i></span></a></li>
                            </ul>
                        </div>

                        <div class="footer__widget-2">
                            <h2 class="footer__widget-title">Информация</h2>
                            <ul class="footer__link">
                                <li><a href="/case">Кейсы</a></li>
                                <li><a href="/services">Услуги</a></li>
                                <li><a href="/blog">Блог</a></li>
                                <li><a href="/contact">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__widget-3">
                            <h2 class="footer__widget-title">Контакты</h2>
                            <ul class="footer__contact">
                                <li>{{ address }}</li>
                                <li><a href="tel:{{ phone }}" class="phone">{{ phone }}</a></li>
                                <li><a href="mailto:{{ email }}">{{ email }}</a></li>
                            </ul>
                        </div>

                        <div class="footer__widget-4">
                            <h2 class="project-title">Хотите крутой проект?</h2>
                            <div class="btn_wrapper">
                                <a href="/contact"
                                   class="wc-btn-primary btn-hover btn-item"><span></span>
                                    свяжитесь с нами <i
                                            class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <h3 class="contact-time">09 : 00 AM - 18 : 00 PM</h3>
                            <h4 class="contact-day">ПН-ПТ</h4>
                        </div>

                        <div class="footer__copyright">
                            <p>© 2022 - 2025 | Все права защищены <a href="https://kmv-it.ru/"
                                                                     target="_blank">kmv-it</a>
                            </p>
                        </div>

                        <div class="footer__subscribe">
                            <form action="#">
                                <input type="email" name="email" placeholder="Введите email">
                                <button type="submit" class="subs-btn"><i
                                        class="fa-solid fa-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>