<!-- All JS files -->
{% load static %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/counter.js' %}"></script>
<script src="{% static 'assets/js/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollSmoother.min.js' %}"></script>
<script src="{% static 'assets/js/SplitText.min.js' %}"></script>
<script src="{% static 'assets/js/chroma.min.js' %}"></script>
<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
<script src="{% static 'assets/js/vanilla-tilt.js' %}"></script>
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>