{% load static %}
<header class="header__area">
    <div class="header__inner">
        <div class="header__logo">
            <a href="/">
                <img class="logo-primary" src="{% static 'assets/imgs/logo/neveb-white.svg' %}" height="100" alt="НеВеб стидия лого">
                <img class="logo-secondary" src="{% static 'assets/imgs/logo/neveb-gorizont.svg' %}" height="50" alt="Мобильный логотип НеВеб">
            </a>
        </div>
        <div class="header__support">

          <a href="tel:{{ phone }}"><i class='fas fa-phone fa-spin fa-2x phone-icon'></i></a>
        </div>
        <div class="header__nav-icon">
            <button id="open_offcanvas"><img src="{% static 'assets/imgs/icon/menu-white.png' %}" alt="Меню бар"></button>
        </div>

    </div>
</header>