<!-- Portfolio area start -->
<section class="portfolio__area pb-140">
    <div class="container">
        <div class="row top_row">

            <h2 class="portfolio__text">Проекты</h2>
            <div class="portfolio__list-1">
                {% for portfolio in portfolio_list %}
                    <div class="portfolio__item">
                        <a href="{% url 'portfolio:work_detail' slug=portfolio.slug %}"><img class="mover"
                                                                                             src="{{ portfolio.preview_image.url }}"
                                                                                             alt="Portfolio Image"></a>
                        <div class="portfolio__info">
                            <h3 class="portfolio__title">{{ portfolio }}</h3>
                            <p>{{ portfolio.start_date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row row_bottom">
            <div class="col-xxl-12">
                <div class="portfolio__btn btn_wrapper" data-speed="1" data-lag="0.2">
                    <a class="wc-btn-secondary btn-hover btn-item" href="/portfolio/"><span></span>Смотреть
                        <br>все
                        проекты <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio area end -->