{% load static %}
<!-- Testimonial area start -->
<section class="testimonial__area">
    <div class="container g-0 line">
        <span class="line-3"></span>
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                <div class="testimonial__wrapper">
                    <div class="testimonial__item item-1">
                        <div class="button">
                            <div class="testimonial__img b-right">
                                <img src="{% static 'assets/imgs/testimonial/1/2023-07-31132.2 Kb.webp' %}"
                                     alt="Testimonial Image">
                            </div>

                            <h2 class="testimonial__title">Чернышев Евгений</h2>
                            <h3 class="testimonial__role">Директор, Переезд-Питер</h3>
                        </div>
                    </div>
                    <div class="sec-title-wrapper text-anim">
                        <h4 class="sec-sub-title">Отзывы</h4>
                        <h5 class="sec-title title-anim">Они <br>довольны</h5>
                        <p>Наши довольные клиенты оставляют нам впечатляющие и положительные отзывы о
                            наших
                            услугах,
                            поддержке клиентов
                            и т.д.
                            .</p>
                    </div>
                </div>

                <div class="testimonial__item item-2">
                    <div class="button">
                        <div class="testimonial__img b-left">
                            <img src="{% static 'assets/imgs/testimonial/1/2023-07-3143.3 Kb.webp' %}"
                                 alt="Testimonial Image">
                        </div>

                        <h2 class="testimonial__title">Говоров Вячеслав</h2>
                        <h3 class="testimonial__role">Директор, Ladodesign</h3>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="testimonial__item item-3 img-">
                    <div class="button">
                        <div class="testimonial__img b-left">
                            <img src="{% static 'assets/imgs/testimonial/1/2023-07-3182.5 Kb.webp' %}"
                                 alt="Testimonial Image">
                        </div>

                        <h2 class="testimonial__title">Литвин Александр</h2>
                        <h3 class="testimonial__role">Директор, Элемент Тишины</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial area end -->