<!-- Workflow area start -->
<section class="workflow__area-6">
    <div class="container g-0 line pb-130">
        <div class="line-3"></div>
        <div class="workflow__wrapper-6">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <div class="workflow__slide-6">
                        <h6 class="workflow__title-6">Анализ и <br>планирование</h6>
                        <p>Наши специалисты проводят детальный анализ вашего сайта и ищут подходящую целевую аудиторию.
                            Исходя из этого и будет создаваться дизайн.
                        </p>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <div class="workflow__slide-6">
                        <h6 class="workflow__title-6">Прототип и <br>дизайн</h6>
                        <p>Создание дизайна сайта происходит на основе анализа целевой аудитории, фирменного стиля, так
                            же в учет берется тематика сайта.
                        </p>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <div class="workflow__slide-6">
                        <h6 class="workflow__title-6">Функционал и <br> программирование</h6>
                        <p>На этом этапе программирования продукта происходит создание машинного кода
                            (дизайн переносят в
                            систему управления сайтом)
                        </p>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <div class="workflow__slide-6">
                        <h6 class="workflow__title-6">Тестирование <br>пользователями</h6>
                        <p>Обязательное условие работы с нами это то, что мы осуществляем тестирование и поддержку всех
                            своих сайтов, поэтому вам не придется переживать об этом.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Workflow area end -->