{% load static %}
<!-- Workflow area start -->
<section class="workflow__area-3">
    <div class="workflow__wrapper-3">
        <div class="choose-wrapper wf_panel">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="choose-title-wrapper">
                            <h2 class="choose-title title-anim">Почему <br> выбирают нас</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="research__area wf_panel pt-150">
            <div class="container inner_content">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-sub-title">Почему <br>выбирают нас </h2>
                            <h3 class="sec-title">Анализ, Поиск стратегии продвижения, уникальный дизайн и качественный
                                код</h3>
                            <p>Мы - команда профессионалов, увлеченных цифровыми технологиями и инновациями. Наш опыт и
                                экспертиза позволяют нам создавать индивидуальные, качественные и эффективные решения
                                для каждого клиента.
                            </p>
                        </div>
                        <ul class="research__tools">
                            <li><a href="#">instagram</a></li>
                            <li><a href="#">vk</a></li>
                        </ul>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="research__list">
                            <div class="research__item">
                                <div class="research__number">
                                    <span>33%</span>
                                </div>
                                <div class="research__info">
                                    <h4 class="research__title">Стратегия</h4>
                                    <p>Мы не боимся экспериментировать и внедрять инновационные подходы.</p>
                                </div>
                            </div>

                            <div class="research__item">
                                <div class="research__number">
                                    <span>33%</span>
                                </div>
                                <div class="research__info">
                                    <h4 class="research__title">Анализ</h4>
                                    <p>Мы понимаем, что каждый бизнес уникален, и подходит нестандартное решение. Мы
                                        тщательно анализируем потребности и цели каждого клиента, чтобы предложить
                                        наилучшие стратегии, которые помогут достичь успеха.</p>
                                </div>
                            </div>

                            <div class="research__item">
                                <div class="research__number">
                                    <span>33%</span>
                                </div>
                                <div class="research__info">
                                    <h4 class="research__title">Дизайн</h4>
                                    <p>Мы заботимся о каждой детали, чтобы ваш продукт работал безупречно.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="counter__area-3 wf_panel">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="sec-title-wrapper">
                            <h2 class="sec-sub-title">Почему <br>выбирают нас</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="counter__wrapper-3">
                            <div class="counter__item-3">
                                <h2 class="counter__number">100+</h2>
                                <p>Проектов <br>завершили</p>
                            </div>
                            <div class="counter__item-3">
                                <h2 class="counter__number">100+</h2>
                                <p>Отзывов <br>клиентов</p>
                            </div>
                            <div class="counter__item-3">
                                <h2 class="counter__number">5</h2>
                                <p>Лет <br>в бизнесе</p>
                            </div>
                            <div class="counter__item-3">
                                <h2 class="counter__number">50+</h2>
                                <p>Сертификаты <br> награды</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="counter__img-3">
                            <img src="{% static 'assets/imgs/thumb/counter-3.png' %}" alt="Counter Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA area start -->
        <div class="cta__area-3 wf_panel">
            <div class="container pt-150 pb-150">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="cta__content-3">
                            <p class="cta__sub-title-2">У Вас есть проект над которым вы думаете?</p>
                            <h2 class="cta__title-2">Давайте сделаем что то крутое вместе!</h2>
                            <div class="btn_wrapper">
                                <a href="{% url 'contact' %}" class="wc-btn-black btn-hover btn-item"><span></span>Свяжитесь
                                    <br>с
                                    нами <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA area end -->

    </div>
</section>
<!-- Workflow area end -->