{% load static %}
<!-- Workflow area start -->
<section class="workflow__area">
    <div class="container g-0 line pt-140 pb-140">
        <div class="line-3"></div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                    <h2 class="sec-sub-title title-anim">Этапы работы</h2>
                    <h3 class="sec-title title-anim">Как мы работаем</h3>
                </div>
            </div>

            <div class="col-xxl-12">
                <div class="swiper workflow__slider ">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide workflow__slide fade_left">
                            <h4 class="workflow__step">шаг 01</h4>
                            <h5 class="workflow__number">01</h5>
                            <h6 class="workflow__title">Аудит</h6>
                            <p>Изучение тематики и рынка в вашей ниши</p>
                        </div>

                        <div class="swiper-slide workflow__slide fade_left">
                            <h4 class="workflow__step">step 02</h4>
                            <h5 class="workflow__number">02</h5>
                            <h6 class="workflow__title">Рекламная стратегия</h6>
                            <p>Разработка и запуск рекламной стратегии продукта</p>
                        </div>

                        <div class="swiper-slide workflow__slide fade_left">
                            <h4 class="workflow__step">шаг 03</h4>
                            <h5 class="workflow__number">03</h5>
                            <h6 class="workflow__title">План и прототип</h6>
                            <p>Разработка плана и набросок прототипа проекта</p>
                        </div>

                        <div class="swiper-slide workflow__slide fade_left">
                            <h4 class="workflow__step">шаг 04</h4>
                            <h5 class="workflow__number">04</h5>
                            <h6 class="workflow__title">Дизайн</h6>
                            <p>Создание дизайна продукта на основе проведенного анализа</p>
                        </div>

                        <div class="swiper-slide workflow__slide fade_left">
                            <h4 class="workflow__step">шаг 05</h4>
                            <h5 class="workflow__number">05</h5>
                            <h6 class="workflow__title">Программирование</h6>
                            <p>Программирование функционала</p>
                        </div>

                        <div class="swiper-slide workflow__slide fade_left">
                            <h4 class="workflow__step">шаг 06</h4>
                            <h5 class="workflow__number">06</h5>
                            <h6 class="workflow__title">Тестирование</h6>
                            <p>Тестирование реальными пользователями</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Workflow area end -->