{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="description"
          content="Посмотрите кейсы НеВеБ студии. Мы прошли долгий и тяжелый путь, чтобы наши клиенты были довольны результатом нашей работы. Когда довольны клиенты, довольны и мы">
    <title>Кейсы НеВеБ студии</title>
{% endblock %}
{% block content %}
    <section class="pt-150 pb-130 portfolio-v2">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-6">
                    <div class="sec-title-wrapper">
                        <h1 class="sec-title-2 animation__char_come">Кейсы нашей студиии</h1>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6">
                    <div class="blog__text">
                        <p>Нет четких инструкций, что нужно делать, чтобы раскрутить бренд и сформировать имидж
                            организации. Для каждой компании путь будет индивидуальным и уникальным. Мы сделаем этот
                            путь легким и коротким.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'include/cases.html' %}

{% endblock %}